@model IList<R8R.UI.Models.FacebookViewModel>

@{
    ViewBag.Title = "Facebook Friends";
}

<h2>My Facebook Friends</h2>


@if (Model.Count > 0)
{
    <div class="row">
        @foreach (var MyFriend in Model)
        {
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src=@MyFriend.Image alt=@MyFriend.Name />
                </a>
            </div>
        }
    </div>
}