<?xml version="1.0"?>
<configuration>


  <!-- forum database connection string -->
  <!-- !!uncomment the appropriate line!! and please don't change the "name" attribute -->
  <connectionStrings>
    <!--MS ACCESS sample connection string-->
    <!--<add name="AspNetForumConnectionString" connectionString="Data Source=GWSTAT;Initial Catalog=Rateroo10;User Id=sa; password=finch2127248474;" providerName="System.Data.SqlClient"/>-->
    
    <!--The following is for the local version-->
    <!--<add name="AspNetForumConnectionString" connectionString="Data Source=.\SQLSERVER;Integrated Security=true;Initial Catalog=Rateroo10;" providerName="System.Data.SqlClient"/>-->
    
    <!--The following is for Azure -->
    <add name="AspNetForumConnectionString" connectionString="Server=tcp:xccqgdjupe.database.windows.net;Database=Rateroo2;User ID=RaterooAdmin@xccqgdjupe;Password=Finch2127248474;Trusted_Connection=False;Encrypt=True;Connect Timeout=60" providerName="System.Data.SqlClient"/>

    <!--The following was for the deployed release version when deploying to Amazon. -->
    <!--<add name="AspNetForumConnectionString" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=true;User Instance=true;AttachDBFilename=|DataDirectory|\Rateroo.mdf;Initial Catalog=Rateroo10;" providerName="System.Data.SqlClient"/>-->

    <!--SQL Server Express FILE-METHOD (aka "user-instance") sample connection string-->
    <!--<add name="AspNetForumConnectionString" connectionString="Data Source=.;AttachDbFileName=|DataDirectory|FORUM.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->

    <!--SQL Server sample connection string-->
    <!--<add name="AspNetForumConnectionString" connectionsionString="Data Source=(local);Initial Catalog=forum;User ID=forum_user;Password=forum;" providerName="System.Data.SqlClient"/>-->

    <!--MYSQL sample connection string-->
    <!--<add name="AspNetForumConnectionString" connectionString="Data Source=localhost;Database=forum;User ID=ForumUser;Password=psw;" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>


  <system.web>

    <!--Set the forum language here. Available options are listed below (UNCOMMENT the appropriate string):-->
    <globalization uiCulture="en-US"/>
    <!--(English US/UK)-->
    <!--<globalization uiCulture="es-ES"/>-->
    <!--(Spanish)-->
    <!--<globalization uiCulture="nl-NL"/>-->
    <!--(Dutch)-->
    <!--<globalization uiCulture="sv-SE"/>-->
    <!--(Swedish)-->
    <!--<globalization uiCulture="de-DE"/>-->
    <!--(German)-->
    <!--<globalization uiCulture="tr-TR"/>-->
    <!--(Turkish)-->
    <!--<globalization uiCulture="he-IL"/>-->
    <!--(Hebrew)-->
    <!--<globalization uiCulture="da-DK"/>-->
    <!--(Danish) -->
    <!--<globalization uiCulture="fr-FR"/>-->
    <!--(French)-->
    <!--<globalization uiCulture="it-IT"/>-->
    <!--(Italian)-->
    <!--<globalization uiCulture="pt-PT"/>-->
    <!--(Portuguese)-->
    <!--<globalization uiCulture="nb-NO"/>-->
    <!--(Norwegian)-->
    <!--<globalization uiCulture="zh-CN"/>-->
    <!--(Chinese Traditional)-->
    <!--<globalization uiCulture="pl-PL"/>-->
    <!--(Polish)-->
    <!--<globalization uiCulture="ar-SA"/>-->
    <!--(Arabic)-->
    <!--<globalization uiCulture="hi-IN"/>-->
    <!--(Hindi)-->
    <!--<globalization uiCulture="ru-RU"/>-->
    <!--(Russian)-->


    <!-- SEO-friendly URLs
           PLEASE NOTE: if you are installing the forum under an existing application,
           then copy-paste this "httpModules" section to your parent application's web.config!!!
           (inside the "system.web" section) -->
    <!--<httpModules>
	        <add type="aspnetforum.ForumSEOHttpModule, aspnetforum" name="ForumSEOHttpModule"/>
        </httpModules>-->


    <!-- the forum relies on session vars to auth users, so let's set the timeout to 30 minutes -->
    <!--<sessionState timeout="30" />-->


    <!--if you want the forum to use windows-authentication do the following:
        1) uncomment the authentication tag below
        2) remember to set the "integrated authentication" flag further down-->
    <!--<authentication mode="Windows"></authentication>-->


  </system.web>

  <!-- SEO-friendly URLS for IIS 7.0
	(if you're using IIS 7.0) -->
  <system.webServer>
    <modules>
      <add type="aspnetforum.ForumSEOHttpModule, aspnetforum" name="ForumSEOHttpModule" />
    </modules>
  </system.webServer>


  <appSettings>
    <!-- various forum settings -->
    <add key="ForumTitle" value="Rateroo"/>
    <add key="TitleLink" value="http://www.rateroo.com/"/>
    <add key="AllowGuestPosts" value="false"/>
    <add key="AllowGuestThreads" value="false"/>
    <add key="PageSize" value="20"/>
    <add key="MsgSortDescending" value="false"/>
    <add key="AllowSmilies" value="true"/>


    <!--this next setting makes sense only if the forum is run as a part
        of another bigger web-application OR the forum uses Windows-authentication.
        
        It specifies if you want the forum
        to attempt to recognize the parent application authenticated users
        (or Windows-authenticated users)
        and automatically register them as forum users.
          EXAMPLE 1: your parent website runs its own database of registered users,
        and uses ASP.NET Forms Authentication to authenticate users (via
        SQL membership provider for example). AspNetForum will detect authenticated
        users and log them in automatically (and add them to the forum users database)
          EXAMPLE 2: your parent website uses Windows Authentication
        to authenticate your Active Directory users.
        AspNetForum will detect current authenticated windows-users
        and add log them in automatically (and add them to the forum users database).
          EXAMPLE 3: you have no parent website at all, but you have configured the
        forum to use windows-authentication (above).
        AspNetForum will detect current authenticated windows-users
        and add log them in automatically (and add them to the forum users database).
          -->
    <add key="IntegratedAuthentication" value="true"/>


    <!--bad words filter-->
    <add key="BadWords" value="fuck;shit;cunt;cocksucker;piss"/>


    <!--IP ban, uncomment the next line to ban by IP address-->
    <!--<add key="BannedIPs" value="0.0.0.0;82.64.123.59"/>-->


    <!--server time offset
        For EXAMPLE: if your hosting provider is in New York-USA,
        but your website is French, you might want to add a 6 hours offset
        (cause when it's 1:00 in NY it is 7:00 in Paris)
        This can be a negative value. INTEGER.-->
    <add key="ServerTimeOffset" value="0"/>


    <!-- avatar settings.
        PLEASE NOTE: to use avatars you should
        grant write permissions on the "/upload" folder
        to the user-account, which your ASP.NET website runs under.
        (typically "NETWORK SERVICE" account, or "ASPNET" account
        -->
    <add key="EnableAvatars" value="false"/>
    <add key="MaxAvatarFileSizeInBytes" value="15000"/>
    <add key="MaxAvatarWidthHeight" value="100"/>
    <!-- in pixels -->



    <!-- file uploads.
        PLEASE NOTE: to enable file-uploading
        grant write permissions on the "/upload" folder
        to the user-account, which your ASP.NET website runs under.
        (typically "NETWORK SERVICE" account, or "ASPNET" account
        -->
    <add key="EnableFileUploads" value="false"/>
    <add key="MaxUploadFileSizeInBytes" value="1500000"/>


    <!--email settings. Specify EMPTY serverlogin if your smtp-server does not require authentication-->
    <add key="MailNotificationsEnabled" value="false"/>
    <add key="MailServer" value="mail.mydomain.com"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailServerLogin" value="robot@mydomain.com"/>
    <add key="MailServerPassword" value="password"/>
    <add key="MailFromAddress" value="robot@mydomain.com"/>
    <add key="MailUseSSL" value="false"/>


    <!--enable/disable email confirmation when registering new users-->
    <add key="EnableEmailActivation" value="false"/>


    <!--enable/disable email notification for moderators when a new message is posted to THEIR forum(s)-->
    <add key="NotifyModeratorOfNewMessages" value="false"/>


    <!--newly registered users are created DISABLED by deafult,
        until they activated by email or activated by admin-->
    <add key="NewUsersDisabledByDefault" value="false"/>


    <!--notify ALL administrators of new user registrations-->
    <add key="NewUsersNotifyAdmin" value="false"/>


    <!--enable/disable private messaging-->
    <add key="EnablePrivateMessaging" value="false"/>



    <!--#############
		ADVANCED SETTINGS
		#################-->
    <!--enable showing email errors/ if you have trouble sending emails, set this flag to "true" and repeat your last action to see the error message-->
    <add key="EmailDebug" value="false"/>

    <!--all avatars will be resized to this size (in pixels). Image-attachments also-->
    <add key="AvatarResize" value="64"/>

    <!--the forum URL (required for links in emails etc).
        This setting is !!OPTIONAL!! because the forum can determine its address automatically,
        but in case you have some wierd firewall-proxy-redirecting config - uncomment and edit it.
        NOTE: note the trailing "/" in the URL. It is critical.-->
    <add key="ForumURL" value="http://rateroo.com/Forums/" />

    <!-- use SHA1-hashing for passwords instead of MD5. Wierd, but some people -->
    <add key="UseSHA1InsteadOfMD5" value="false"/>

    <!-- prohibit certain file extensions for attachments -->
    <add key="ForbiddenUploadExtensions" value="exe;dll"/>

    <!-- VIRTUAL (!) path to avatars dir. Examples: "../files" , "../../files/upload"-->
    <add key="AvatarVirtualPath" value="upload"/>

  </appSettings>
</configuration>
