<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--Must include the following because jsonSerialization section is not currently defined on Azure host machines, so omission leads to failure to load webrole-->
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="ChartImageHandler" value="storage=file;privateImages=false;timeout=1200;deleteAfterServicing=false;webDevServerUseConfigSettings=false;url=~/TempImages/"/>-->
    <add key="ChartImageHandler" value="handler=ClassLibrary1.Misc.AzureChartControlBlobHandler, ClassLibrary1;privateImages=false;timeout=1200;deleteAfterServicing=false;webDevServerUseConfigSettings=false;"/>
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp from="rateroomail@gmail.com">
        <network host="smtp.gmail.com" password="finch2127248474" port="587" userName="rateroomail@gmail.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--OLD-->
    <!--<remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=PC2012;Initial Catalog=Rateroo7;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->
    <!--<add name="RaterooConnectionString" connectionString="Data Source=PC2012;Initial Catalog=Rateroo7;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->
    <!--CURRENT
    For using local sql server-->
    <add name="ApplicationServices" connectionString="Data Source=PC2012;Initial Catalog=Rateroo7;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--For using SQL Azure-->
    <!--<add name="ApplicationServices"
         connectionString="Server=tcp:xccqgdjupe.database.windows.net;Database=Rateroo2;User ID=RaterooAdmin@xccqgdjupe;Password=Finch2127248474;Trusted_Connection=False;Encrypt=True;Connect Timeout=60"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="1000" maxRequestLength="2000000"/>
    <!--<sessionState timeout="120" cookieless="false" mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=PC2012;Initial Catalog=Rateroo7;Integrated Security=True"  ></sessionState>-->
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="Login" protection="All" timeout="43200" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <properties>
        <add name="UserID" type="System.Int32"/>
        <add name="FirstName"/>
        <add name="LastName"/>
        <add name="Address1"/>
        <add name="Address2"/>
        <add name="ZipCode"/>
        <add name="City"/>
        <add name="State"/>
        <add name="Country"/>
        <add name="WorkPhone"/>
        <add name="HomePhone"/>
        <add name="PasswordForWebService"/>
        <add name="LastPageLoadDateTime"/>
      </properties>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="SqlNetFrameworkWebControls" namespace="SqlNetFrameworkWebControls"/>
        <add tagPrefix="SqlNetFrameworkWebControls" namespace="SqlNetFrameworkWebControls" assembly="DataItemCounter"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImg"/>
      <remove name="RotatedTextHandler"/>
      <remove name="AutoComplete"/>
      <add name="ChartImg" path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="RotatedTextHandler" path="RotatedTextHandler.ashx" verb="*" type="WebRole1.RotatedTextHandler, WebRole1"/>
      <add name="AutoComplete" path="AutoComplete.ashx" verb="*" type="WebRole1.AutoComplete, WebRole1"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="aspnetforum.ForumSEOHttpModule, aspnetforum" name="ForumSEOHttpModule"/>
    </modules>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000">
          <converters>
            <add name="MyFilterRuleConverter" type="ClassLibrary1.Model.FilterRuleConverter"/>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>