<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClassLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <add key="DiagnosticsConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=http;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=http;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="R8RConnectionString" value="BADconnectionstring_because_we_dont_want_to_connect_in_unit_tests"/>
    <add key="Denorm0001ConnectionString" value="BADconnectionstring_because_we_dont_want_to_connect_in_unit_tests"/>
  </applicationSettings>
  <connectionStrings />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <ClassLibrary1.Properties.Settings>
      <setting name="R8RConnectionString" serializeAs="String">
        <value>Ignored</value>
      </setting>
    </ClassLibrary1.Properties.Settings>
  </userSettings>
</configuration>
