<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClassLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <!--<add key="DiagnosticsConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=http;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=http;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="R8RConnectionString" value="BADconnectionstring_because_we_dont_want_to_connect_in_unit_tests"/>
    <add key="Denorm0001ConnectionString" value="BADconnectionstring_because_we_dont_want_to_connect_in_unit_tests"/>-->
  </applicationSettings>
  <connectionStrings />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="1000" maxRequestLength="2000000" />
    <!--<sessionState timeout="120" cookieless="false" mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="ADDTHISIFUSINGSESSIONSTATE"  ></sessionState>-->
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="Login" protection="All" timeout="43200" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <machineKey validationKey="0A7AD6318F325FB79163DC0F00D98416CCB6240F9BE78A3AB91A73BC3783AB049FA96FD863AF606D3FB0D4752F2CDE5DD4222C8B3C1B82E42F42F38985BC6FF5" decryptionKey="6E4260107AFCFBD0D63A82E0C7B4691F0B88E80933CF1201D6CCD5713507A564" validation="SHA1" decryption="AES" />
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <profile>
      <properties>
        <add name="UserID" type="System.Int32" />
        <add name="FirstName" />
        <add name="LastName" />
        <add name="Address1" />
        <add name="Address2" />
        <add name="ZipCode" />
        <add name="City" />
        <add name="State" />
        <add name="Country" />
        <add name="WorkPhone" />
        <add name="HomePhone" />
        <add name="PasswordForWebService" />
        <add name="LastPageLoadDateTime" />
      </properties>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false" validateRequest="false" clientIDMode="AutoID" enableViewStateMac="true" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="SqlNetFrameworkWebControls" namespace="SqlNetFrameworkWebControls" />
        <add tagPrefix="SqlNetFrameworkWebControls" namespace="SqlNetFrameworkWebControls" assembly="DataItemCounter" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers />
  </system.web>
  <userSettings>
    <ClassLibrary1.Properties.Settings>
      <setting name="R8RConnectionString" serializeAs="String">
        <value>Ignored</value>
      </setting>
    </ClassLibrary1.Properties.Settings>
  </userSettings>
</configuration>
