<?xml version="1.0"?>
<configuration>
  <applicationSettings>
    <add key="DiagnosticsConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=http;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=http;AccountName=rateroodebug;AccountKey=xyA1kSz7XdrVsXDjk0dNOmrlq7ae3X8pM6wYGS9kdkhuYA5mmUUoKIBm2XXdnAXNKB/nb+RuGT1h4Nt34K+ZmA=="/>
    <add key="RaterooConnectionString" value="BADconnectionstring_because_we_dont_want_to_connect_in_unit_tests"/>
 </applicationSettings>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.RaterooConnectionString" connectionString="Data Source=PC2012;Initial Catalog=Rateroo7;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
