<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Effort.EF6" version="1.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="LinqKit" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.Experimental.Collections" version="1.0.1-alpha" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="NMemory" version="1.0.0" targetFramework="net45" />
</packages>