/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 8px; height: 12px; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1;  display: block; border: 0;  }

.ui-slider-vertical { width: 10px; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: 0px; margin-left: 0; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%;  }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }