<div id="withinLeftPageColumn" style="padding: 0px 0px 0px 0px;">
    <div id="BoxLeftColumnPlaceHolder" style="position: absolute; width: 100%; overflow: hidden;">
        @*<div id="BoxTopLeftContentPlaceHolder"></div>*@
        @*<div id="mydiv" style="position: absolute; width: 100%; overflow:hidden;">*@
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="3" style="height: 8px;"></td>
                </tr>
                <tr>
                    <td style="width: 14px;" valign="top">
                        <img id="Img1" src="@Url.Content("~/images/left-corner.jpg")" alt="left-corner" width="14"
                             height="62" />
                    </td>
                    <td valign="top" class="topbg" style="width: 100%;"></td>
                    <td style="width: 14;" valign="top">
                        <img id="Img2" src="@Url.Content("~/images/right-corner.jpg")" alt="right-corner"
                             width="14" height="62" />
                    </td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td style="height: 27px;">
                    &nbsp;
                </td>
            </tr>
        </table>
    <div class="headTxt headTxtEffect">
        Topics
    </div>

    @*<div id="mytopicstree" class="topicstree">
    <ul>
        <li id="LIHIER95d1ae7d-c6ad-4cf2-a5ff-b9639a9c2f5c"><a href="/Consumer" class="tablemultiple">Consumer</a>
        <ul><li id="LIHIER8880373e-a5a9-4050-8501-4debc1d0bcaa"><a href="/Consumer/Restaurants" class="tablesingle">Restaurants</a></li></ul></li>
        <li id="LIHIER1cb65724-959a-4286-a472-f5bd6634840f"><a href="/Entertainment" class="tablesingle">Entertainment</a></li><li id="LIHIER78a23403-1105-4390-8a91-e3d22f0883d8"><a href="/Government" class="tablesingle">Government</a></li><li id="LIHIER2e07a484-24e6-45f1-83a5-0c2d5132229b"><a href="/Internet" class="tablesingle">Internet</a></li><li id="LIHIER03e97a04-bad8-4872-9f24-62d35fd59b1f"><a href="/News" class="tablesingle">News</a></li><li id="LIHIER847f210b-923c-4948-81f1-f839f51feb6c"><a href="/Sports" class="tablesingle">Sports</a></li></ul></div>*@

    <div class="afterHeadTxtEffect">
        @*<div id="TopicsList" class="topicsInitialDisplay">*@
            <div id="mytopicstree" class="topicstree">
                <ul>
                    <li>
                        <a href="/Consumer" class="tablemultiple">Consumer</a><ul>
                            <li><a href="/Consumer/Restaurants" class="tablesingle">Restaurants</a></li>
                        </ul>
                    </li>
                    <li><a href="/Entertainment" class="tablesingle">Entertainment</a></li>
                    <li><a href="/Government" class="tablesingle">Government</a></li>
                    <li><a href="/Internet" class="tablesingle">Internet</a></li>
                    <li><a href="/News" class="tablesingle">News</a></li>
                    <li><a href="/Sports" class="tablesingle">Sports</a></li>
                </ul>
            </div>


        @*</div>*@
    </div>

    <div id="BoxLeftColumnPlaceHolder_Advertisement_AnnouncementDiv">
    </div>
</div>
<div id="belowTopics">
    <table>
        <tr>
            <td id="whiteSpaceAdjustment">
                &nbsp;
            </td>
        </tr>
    </table>
</div>
