<div id="withinLeftPageColumn" style="padding: 0px 0px 0px 0px;">
    <div id="BoxLeftColumnPlaceHolder" style="position: absolute; width: 100%; overflow: hidden;">
        @*<div id="BoxTopLeftContentPlaceHolder"></div>*@
        @*<div id="mydiv" style="position: absolute; width: 100%; overflow:hidden;">*@
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="3" style="height: 8px;"></td>
                </tr>
                <tr>
                    <td style="width: 14px;" valign="top">
                        <img id="Img1" src="@Url.Content("~/images/left-corner.jpg")" alt="left-corner" width="14"
                             height="62" />
                    </td>
                    <td valign="top" class="topbg" style="width: 100%;"></td>
                    <td style="width: 14;" valign="top">
                        <img id="Img2" src="@Url.Content("~/images/right-corner.jpg")" alt="right-corner"
                             width="14" height="62" />
                    </td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td style="height: 27px;">
                    &nbsp;
                </td>
            </tr>
        </table>
    <div class="headTxt headTxtEffect">
        Topics
    </div>
    <div class="afterHeadTxtEffect">
        <div id="TopicsList" class="topicsInitialDisplay">
            <div id="mytopicstree" class="topicstree">
                <ul>
                    <li>
                        <a href="/Consumer" class="">Consumer</a><ul>
                            <li><a href="/Consumer/Restaurants" class="tablesingle">Restaurants</a></li>
                        </ul>
                    </li>
                    <li><a href="/Entertainment" class="tablesingle">Entertainment</a></li>
                    <li><a href="/Government" class="tablesingle">Government</a></li>
                    <li><a href="/Internet" class="tablesingle">Internet</a></li>
                    <li><a href="/News" class="tablesingle">News</a></li>
                    <li><a href="/Sports" class="tablesingle">Sports</a></li>
                </ul>
            </div>


        </div>
    </div>

    <div id="BoxLeftColumnPlaceHolder_Advertisement_AnnouncementDiv">
    </div>
</div>
<div id="belowTopics">
    <table>
        <tr>
            <td id="whiteSpaceAdjustment">
                &nbsp;
            </td>
        </tr>
    </table>
</div>
